/* SAP Fiori Icons */

@font-face {
	font-family: 'SAP Fiori Icons';
	src:
		url('https://solveplanrep.github.io/saccustomfont/SAP-icons.woff2') format('woff2'),
		url('https://solveplanrep.github.io/saccustomfont/SAP-icons.woff') format('woff'),
		url('https://solveplanrep.github.io/saccustomfont/SAP-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
